@{
    ViewBag.Title = "Index";
}



<table align="center" bgcolor="#cccccc" border="0" cellpadding="0" cellspacing="1" style="width: auto;"><tbody>
<tr><td><table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" style="width: auto;"><tbody>
<tr><td height="25"></td></tr>
<tr><td height="30"><div align="center" style="font-family: Arial, Helvetica, sans-serif; font-size: 17px; font-weight: bold;">
<div style="font-size: 20px; font-weight: normal;">
<span >Henry Cordero Bonilla</span></div>
</div>
</td></tr>
<tr><td height="25"><div align="center" class="impdatos2" style="color: #666666; font-family: Arial, Helvetica, sans-serif; font-size: 16px;">
<strong>INFORMÁTICA Y COMPUTACIÓN</strong></div>
</td></tr>

<tr><td  height="55" style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px;"><div align="center">
<span>400 mts norte del MAC de Pital de San Carlos.</span>&nbsp;&nbsp;<span >ALAJUELA</span>,&nbsp;<span>COSTA RICA</span>-&nbsp;<span>Soltero(a)</span><br />
Identificación:&nbsp;<span">503690138</span>&nbsp;- Edad:&nbsp;<span>24</span><br />
Tel. Residencia:&nbsp;<span>71102787</span>&nbsp;- Tel. Oficina:&nbsp;<span>87458517</span><br />
Celular:&nbsp;<span">89547101</span>&nbsp;-&nbsp;<span>henryjason2009@hotmail.com</span></div>
</td></tr>
<tr><td>

<table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 100%;"><tbody>
<tr><td></td><td colspan="2" height="25"><hr />
</td><td></td></tr>
<tr><td width="7%"></td><td colspan="2" height="25"><div align="center">
<span style="color: #666666; font-family: Arial, Helvetica, sans-serif; font-size: 16px;"><strong>Perfil profesional</strong></span></div>
</td><td width="7%"></td></tr>
<tr><td></td><td colspan="2"></td><td></td></tr>
<tr><td></td><td colspan="2"><div align="justify">
<span style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px;">Bachiller Secundaria y técnico medio en informática en redes, CCNA Discovery: Networking for home and Small Businesses, CCNA Discovery: Working at a Small-to-Medium Business Or ISP, CCNA Discovery: Introducing Routing and Switching in the Enterprise.<br /><br />Soporte técnico a computadoras (Control de falla en hardware, Control de falla a nivel de Software o sistemas operativos.)<br /><br />Programador en entorno JAVA (NetBeans IDE 7.1.2; Eclipse IDE), SQL (Oracle; SQL Server, Postgress, MySQL), Visual Estudios .net ( C#, WebService, WCF), Android (Eclipse Android Developer Tools, webservice PHP using codeignite), Aplicaciones Web (HTML, HTML5, CSS, Javascript, jquery, PHP, Bootstrap, framework codeigniter).<br /><br />Actualmente termine el Diplomado en Ingeniería del Software (Concluido en el 2013) y estoy realizando un proyecto en android usando Eclipse Android Developer Tools, webservices en PHP y .net y como almacenamiento uso MySQL y Postgress.<br /><br />Actualmente Soy Tesorero, trabajo para Wal*Mark.</span></div>
</td><td></td></tr>
<tr><td></td><td colspan="2"><hr />
</td><td></td></tr>
<tr><td></td><td colspan="2" height="25" style="color: #666666; font-family: Arial, Helvetica, sans-serif; font-size: 16px;"><strong>Experiencia Laboral</strong><br />
<div>
</div>
</td><td></td></tr>
<tr><td></td><td colspan="2"><hr />
</td><td></td></tr>
<tr><td></td><td colspan="2" height="25" style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;"><div align="center" class="textocorrido" style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px;">
Años de experiencia:&nbsp;<span>2</span></div>
</td><td></td></tr>
<tr><td></td><td colspan="2" height="25" style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px;"><table border="0" cellspacing="0" style="border-collapse: collapse; color: #666666; font-size: 11px; width: 591.2000122070313px;"><tbody>
<tr><td style="border-color: white;"><table border="0" cellpadding="0" cellspacing="0" style="width: 100%px;"><tbody>
<tr><td style="font-size: 11px;"><span class="gris12" style="color: #333333; font-family: Arial, Helvetica, sans-serif; font-size: 13px;"><strong><span style="color: black; font-size: 14px;">Wal Mark</span></strong></span><br />
Cargo:&nbsp;<span>Cajero</span><br />
Tiempo laborado:&nbsp;<span>Junio de 2011 - Actualmente</span><br />
Teléfono:&nbsp;<span>24733335</span></td></tr>
<tr><td style="font-size: 11px;"><div align="justify" class="textocorrido">
<strong>Funciones y logros</strong><span>La responsabilidad y el compromiso es lo primordial deber en cualquier trabajo y en wal mark he logrado fortalecer esos valores, Asi tambien tengo la oportunidad de servir al cliente con el maximo respeto que se merecen.</span></div>
</td></tr>
</tbody></table>
</td></tr>
<tr><td style="border-color: white;"><table border="0" cellpadding="0" cellspacing="0" style="width: 100%px;"><tbody>
<tr><td style="font-size: 11px;"><span style="color: #333333; font-family: Arial, Helvetica, sans-serif; font-size: 13px;"><strong><span style="color: black; font-size: 14px;">INA</span></strong></span><br />
Cargo:&nbsp;<span class="textocorrido" id="HojavidaP1_dlExperiencia__ctl1_lbCargo">Asistente de soporte técnico en informática</span><br />
Tiempo laborado:&nbsp;<span class="textocorrido" id="HojavidaP1_dlExperiencia__ctl1_lbTerminadoX">Octubre de 2010 - Diciembre de 2010</span><br />
Teléfono:&nbsp;<span class="textocorrido" id="HojavidaP1_dlExperiencia__ctl1_lbTelefono">2474-3000</span></td></tr>
<tr><td class="textocorrido" style="font-size: 11px;"><div align="justify" class="textocorrido">
<strong>Funciones y logros</strong><span class="textocorrido">Durante el tiempo que labore en el INA (Practica supervisada) Fortalecí mis conocimientos en el área de redes, dando soporte tecnico al personal administrativo del INA y laboratorios de la institución.</span></div>
</td></tr>
</tbody></table>
</td></tr>
</tbody></table>
</td><td></td></tr>
<tr><td></td><td colspan="2"><hr />
</td><td></td></tr>
<tr><td></td><td class="textocorrido" colspan="2" height="25" style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px;"><div align="center">
<span class="impdatos2" style="color: #666666; font-family: Arial, Helvetica, sans-serif; font-size: 16px;"><strong>Estudios formales</strong></span></div>
</td><td></td></tr>
<tr><td></td><td colspan="2"><hr />
</td><td></td></tr>
<tr><td></td><td colspan="2" valign="top"><table border="0" cellspacing="0" class="gris11" id="HojavidaP1_dlEducacion" style="border-collapse: collapse; color: #666666; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; width: 591.2000122070313px;"><tbody>
<tr><td style="border-color: white; width: 589.2000122070313px;"><table class="textogris" style="color: #666666; font-size: 11px; width: 100%px;"><tbody>
<tr><td valign="top" width="100%"><span class="textocorrido" id="HojavidaP1_dlEducacion__ctl0_lbInstitucion" style="color: black; font-weight: bold;">U. Nacional</span><br />
<span class="textocorrido" id="HojavidaP1_dlEducacion__ctl0_lbTitulo" style="color: black;">Ingeniería del Software</span><br />
<span class="textocorrido" id="HojavidaP1_dlEducacion__ctl0_lbTerminado" style="color: black;">Diciembre de 2013</span><br />
<span class="textocorrido" id="HojavidaP1_dlEducacion__ctl0_lbNivel" style="color: black;">DIPLOMADO</span></td></tr>
</tbody></table>
</td></tr>
<tr><td style="border-color: white; width: 589.2000122070313px;"><table class="textogris" style="color: #666666; font-size: 11px; width: 100%px;"><tbody>
<tr><td valign="top" width="100%"><span class="textocorrido" id="HojavidaP1_dlEducacion__ctl1_lbInstitucion" style="color: black; font-weight: bold;">COLEGIO TÉCNICO PROFESIONAL DE PITAL.</span><br />
<span class="textocorrido" id="HojavidaP1_dlEducacion__ctl1_lbTitulo" style="color: black;">Bachiller en educación media</span><br />
<span class="textocorrido" id="HojavidaP1_dlEducacion__ctl1_lbTerminado" style="color: black;">Diciembre de 2010</span><br />
<span class="textocorrido" id="HojavidaP1_dlEducacion__ctl1_lbNivel" style="color: black;">BACHILLERATO EDU. DIVERSIFICADA</span></td></tr>
</tbody></table>
</td></tr>
<tr><td style="border-color: white; width: 589.2000122070313px;"><table class="textogris" style="color: #666666; font-size: 11px; width: 100%px;"><tbody>
<tr><td valign="top" width="100%"><span class="textocorrido" id="HojavidaP1_dlEducacion__ctl2_lbInstitucion" style="color: black; font-weight: bold;">COLEGIO TÉCNICO PROFESIONAL DE PITAL.</span><br />
<span class="textocorrido" id="HojavidaP1_dlEducacion__ctl2_lbTitulo" style="color: black;">Técnico medio en informática en redes</span><br />
<span class="textocorrido" id="HojavidaP1_dlEducacion__ctl2_lbTerminado" style="color: black;">Diciembre de 2010</span><br />
<span class="textocorrido" id="HojavidaP1_dlEducacion__ctl2_lbNivel" style="color: black;">BACHILLERATO EDU. DIVERSIFICADA</span></td></tr>
</tbody></table>
</td></tr>
</tbody></table>
</td><td></td></tr>
<tr><td></td><td colspan="2"><hr />
</td><td></td></tr>
<tr><td></td><td class="textocorrido" colspan="2" height="25" style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px;"><div align="center">
<span class="impdatos2" style="color: #666666; font-family: Arial, Helvetica, sans-serif; font-size: 16px;"><strong>Portafolio</strong></span></div>
</td><td></td></tr>
<tr><td></td><td colspan="2"><hr />
</td><td></td></tr>
<tr><td></td><td colspan="2" valign="top"><table border="0" cellspacing="0" class="textogris" id="HojavidaP1_dlVinculos" style="border-collapse: collapse; color: #666666; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; width: 591.2000122070313px;"><tbody>
<tr><td style="border-color: white; width: 589.2000122070313px;"><table class="textogris" style="color: #666666; font-size: 11px; width: 100%px;"><tbody>
<tr><td valign="top" width="100%"><span class="textocorrido" style="color: black;"><strong><a href="https://play.google.com/store/apps/details?id=com.map.appgoogle" style="color: #666666; font-weight: normal;" target="_blank"><span class="textocorrido" id="HojavidaP1_dlVinculos__ctl0_lbTituloVinculo" style="color: black; font-weight: bold;">GPlaceS</span></a>&nbsp;</strong></span><span class="textocorrido" style="color: black;"><span class="textocorrido" id="HojavidaP1_dlVinculos__ctl0_lbTipoVinculo">Sitio Web</span><br /><span class="textocorrido" id="HojavidaP1_dlVinculos__ctl0_lbDescripcionVinculo">GPlaceS es una aplicación desarrollada en android, mantiene una estructura muy completa. se encuentra en face beta.&nbsp;</span><br /><a href="https://play.google.com/store/apps/details?id=com.map.appgoogle" style="color: #666666;" target="_blank"><span class="textocorrido" id="HojavidaP1_dlVinculos__ctl0_lbUrlVinculo" style="color: black;">https://play.google.com/store/apps/details?id=com.map.appgoogle</span></a></span></td></tr>
</tbody></table>
</td></tr>
<tr><td style="border-color: white; width: 589.2000122070313px;"><table class="textogris" style="color: #666666; font-size: 11px; width: 100%px;"><tbody>
<tr><td valign="top" width="100%"><span class="textocorrido" style="color: black;"><strong><a href="http://www.descargasgratis.us/" style="color: #666666; font-weight: normal;" target="_blank"><span class="textocorrido" id="HojavidaP1_dlVinculos__ctl1_lbTituloVinculo" style="color: black; font-weight: bold;">Descargar</span></a>&nbsp;</strong></span><span class="textocorrido" style="color: black;"><span class="textocorrido" id="HojavidaP1_dlVinculos__ctl1_lbTipoVinculo">Sitio Web</span><br /><span class="textocorrido" id="HojavidaP1_dlVinculos__ctl1_lbDescripcionVinculo">Programas gratuitos, de forma directa y sin esperar tanto para poder descargar un archivo de Internet. Ofrecemos la mejor recopilación de material 100% gratuito y sin virus.</span><br /><a href="http://www.descargasgratis.us/" style="color: #666666;" target="_blank"><span class="textocorrido" id="HojavidaP1_dlVinculos__ctl1_lbUrlVinculo" style="color: black;">http://www.descargasgratis.us/</span></a></span></td></tr>
</tbody></table>
</td></tr>
</tbody></table>
</td><td></td></tr>
<tr><td></td><td colspan="2"><hr />
</td><td></td></tr>
<tr><td></td><td class="impdatos" colspan="2" height="25" style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;"><div align="center">
<span class="impdatos2" style="color: #666666; font-size: 16px;"><strong>Idiomas</strong></span></div>
</td><td></td></tr>
<tr><td></td><td colspan="2"><hr />
</td><td></td></tr>
<tr><td></td><td class="gris11" style="color: #666666; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px;">&gt;&nbsp;<strong>Idioma Nativo:&nbsp;</strong><span class="gris11" id="HojavidaP1_lbIdinat">ESPAÑOL</span></td><td class="gris11" style="color: #666666; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px;"><div id="HojavidaP1_plIdioma1">
<strong>Idioma 1:</strong>&nbsp;<span class="textocorrido" id="HojavidaP1_lbIdi1" style="color: black;">INGLES 70 %</span></div>
</td><td></td></tr>
<tr><td></td><td class="gris11" style="color: #666666; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px;">&gt;&nbsp;<strong>Idioma 2:&nbsp;</strong><span class="gris11" id="HojavidaP1_lbIdi2">ESPAÑOL 100 %</span></td><td class="gris11" style="color: #666666; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px;"></td><td></td></tr>
<tr><td></td><td colspan="2"><hr />
</td><td></td></tr>
<tr><td></td><td colspan="2" height="25"><div align="center">
<span class="impdatos2" style="color: #666666; font-family: Arial, Helvetica, sans-serif; font-size: 16px;"><strong>Estudios no formales</strong></span></div>
</td><td></td></tr>
<tr><td></td><td colspan="2"><hr />
</td><td></td></tr>
<tr><td></td><td colspan="2" valign="top"><table border="0" cellspacing="0" class="textogris" id="HojavidaP1_dlEducacionNo" style="border-collapse: collapse; color: #666666; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; width: 591.2000122070313px;"><tbody>
<tr><td style="border-color: white; width: 589.2000122070313px;"><table class="textogris" style="color: #666666; font-size: 11px; width: 100%px;"><tbody>
<tr><td valign="top" width="100%"><span class="textocorrido" style="color: black;"><strong><span class="textocorrido" id="HojavidaP1_dlEducacionNo__ctl0_lbInstitucionC">Colegio Técnico Profesional de Pital</span></strong></span><span class="textocorrido" style="color: black;"><span class="textocorrido" id="HojavidaP1_dlEducacionNo__ctl0_lbTituloC">CCNA Discovery: Introducing Routing and Switching in the Enterprise</span><br /><span class="textocorrido" id="HojavidaP1_dlEducacionNo__ctl0_lbTerminadoC">Julio de 2010</span></span></td></tr>
</tbody></table>
</td></tr>
<tr><td style="border-color: white; width: 589.2000122070313px;"><table class="textogris" style="color: #666666; font-size: 11px; width: 100%px;"><tbody>
<tr><td valign="top" width="100%"><span class="textocorrido" style="color: black;"><strong><span class="textocorrido" id="HojavidaP1_dlEducacionNo__ctl1_lbInstitucionC">Colegio Técnico Profesional de Pital</span></strong></span><span class="textocorrido" style="color: black;"><span class="textocorrido" id="HojavidaP1_dlEducacionNo__ctl1_lbTituloC">CCNA Discovery: Working at a Small-to-Medium Business Or ISP</span><br /><span class="textocorrido" id="HojavidaP1_dlEducacionNo__ctl1_lbTerminadoC">Diciembre de 2009</span></span></td></tr>
</tbody></table>
</td></tr>
<tr><td style="border-color: white; width: 589.2000122070313px;"><table class="textogris" style="color: #666666; font-size: 11px; width: 100%px;"><tbody>
<tr><td valign="top" width="100%"><span class="textocorrido" style="color: black;"><strong><span class="textocorrido" id="HojavidaP1_dlEducacionNo__ctl2_lbInstitucionC">Colegio Técnico Profesional de Pital</span></strong></span><span class="textocorrido" style="color: black;"><span class="textocorrido" id="HojavidaP1_dlEducacionNo__ctl2_lbTituloC">CCNA Discovery: Networking for home and Small Businesses</span><br /><span class="textocorrido" id="HojavidaP1_dlEducacionNo__ctl2_lbTerminadoC">Julio de 2009</span></span></td></tr>
</tbody></table>
</td></tr>
<tr><td style="border-color: white; width: 589.2000122070313px;"><table class="textogris" style="color: #666666; font-size: 11px; width: 100%px;"><tbody>
<tr><td valign="top" width="100%"><span class="textocorrido" style="color: black;"><strong><span class="textocorrido" id="HojavidaP1_dlEducacionNo__ctl3_lbInstitucionC">Colegio Técnico Profesional de Pital</span></strong></span><span class="textocorrido" style="color: black;"><span class="textocorrido" id="HojavidaP1_dlEducacionNo__ctl3_lbTituloC">Operador de programas de diseño gráfico</span><br /><span class="textocorrido" id="HojavidaP1_dlEducacionNo__ctl3_lbTerminadoC">Diciembre de 2008</span></span></td></tr>
</tbody></table>
</td></tr>
</tbody></table>
</td><td></td></tr>
<tr><td colspan="4"><img src="http://www.elempleo.co.cr/clientes/hv/images/imp_barra.gif" height="10" width="599" /></td></tr>
</tbody></table>
</td></tr>
</tbody></table>
</td></tr>
</tbody></table>

   <script>
         $(document).ready(function () {

             $("#mhome").css("background-color", "yellow");
 
         });
</script>