@{
    ViewBag.Title = "SendMail";
}

<h1 style="text-align:center">Success</h1> <br />

<p>Gracias por interes, pronto estare respondiendo su correo</p>

<script>
         $(document).ready(function () {

             $("#memail").css("background-color", "yellow");
 
         });
</script>
