@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login_user</title>
</head>
<body>
    <div>
 
    @Styles.Render("~/Content/formulario.css")
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="well well-sm">
                <form>
                <div class="row">
                    <div>
                        <div class="form-group">
                            &nbsp&nbsp<label for="name">
                                Iteractions</label>&nbsp
                                <a id="New" class="btn btn-info" href="#">New</a>
                                <a id="Remove" class="btn btn-info" href="#">Remove</a>
                                <a id="Run" class="btn btn-info" href="#">Run</a>
                        </div>
                       
                        
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
      
                    <div>

                    </div>

                        </div>
                    </div>

                </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="well well-sm">
                <form>
                <div class="row">

                   <div>
                        <div class="form-group">
                        <div id="interacion">Lista de Interacciones:</div>
                        </div>
                    </div>

                </div>
                </form>
            </div>
        </div>
    </div>
</div>
    
    </div>


    <footer>

         <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

        <script type='text/javascript'>

            $(document).ready(function () {

                var pa_va = {};

                $(function () {
                    $("#guardarinteracion").click(function () {
                        $("#contenedor div").each(function (index) {

                            alert("Contenedor: " + index);
                            var vparametro;
                            var vvalue;

                            $(this).children('input').each(function (index2) {

                                if (index2 == 0) { vparametro = this.value; }
                                else { vvalue = this.value }

                            });


                            pa_va[index] = { parametro: vparametro, value: vvalue };

                            var a = pa_va[0].value;

                            alert("parametro " + a); // "this" is the current element in the loop

                        })
                    })
                });


            $("#New").on('click', function () {

                $.ajax({
                    type: 'POST',
                    url: "/Interacion/register_Interacion",
                    data: {
                        id_user: '@ViewBag.prueba[0].id',
                                 name: document.getElementById('name').value,
                                 url: document.getElementById('url').value,
                                 action: document.getElementById('action').value,
                                 verb: document.getElementById('verb').value,

                             },



                             success: function (data) {


                                 $(function () {

                                     document.getElementById('name').value = "",
                                     document.getElementById('url').value = "",
                                    document.getElementById('action').value = "",



                                     alert("Iteracion Guardada");

                                 });//fin  $(function() {


                             }// fin de success

                         });// fin function ajax


            });//$("#btnNumber").on('clik', function () {

            });

        </script>

    </footer>

</body>

    
</html>
